<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head%>
   
     
   <script src="../javascripts/libs/angular/lodash/lodash.js"></script>
  <script src="../javascripts/libs/angular/cloudinary-core/cloudinary-core.js"></script>
  <!-- angular file upload -->
  <script src="../javascripts/libs/angular/ng-file-upload/ng-file-upload-shim.js"></script>
  <!-- angular dependencies -->
  <script src="../javascripts/libs/angular/angular-animate/angular-animate.js"></script>
  <script src="../javascripts/libs/angular/angular-route/angular-route.js"></script>
  <script src="../javascripts/libs/angular/angular-resource/angular-resource.js"></script>
  <!-- cloudinary angular plugin -->
  <script src="../javascripts/libs/angular/cloudinary_ng/js/angular.cloudinary.js"></script>
  <!-- angular file upload -->
  <script src="../javascripts/libs/angular/ng-file-upload/ng-file-upload.js"></script>
  
  
   <script src="../javascripts/angularjs/controller/profile.js"></script>
</head>


<body class="animated fadeIn ng-cloak" ng-cloak ng-app="profile" ng-controller="profileController">

<% var headerActiveClass =['active' , '']%>
<% include ./partials/mainheader%>

<div class="container" style="margin-top: 60px;">
    <div class="col-md-12 no-paddin-xs">
        <div class="row">
            <div class="profile-nav col-md-4  no-padding-xs">
                <div class="panel">
                    <div class="user-heading round" > <img id="profile-pic" class="profile-pic" src="<%= user.local.profileImageUrl %>" alt="<%=user.local.userDetails.contactDetails.firstName.charAt(0)%><%=user.local.userDetails.contactDetails.lastName.charAt(0)%>">
                    
                                   <div style="margin-top:-27px;">                                   
                                   <div class="fa fa-camera" ngf-select="uploadProfilePic($files)" title="upload" resetOnClick="true" ></div>
                                   </div>
                                   
                        <h1><%= user.local.userDetails.contactDetails.firstName +" "+user.local.userDetails.contactDetails.lastName %></h1>
                       <!-- <p><%= user.local.email %></p>-->
                    </div>
                   
                    <ul class="nav nav-pills nav-stacked">
                        <%if(user.local.userType == 'business'){%>
                        <li ng-click="hideShowPanel('businessDetail')"><a href=""> <i class="fa fa-info-circle "></i> Bussiness Detail</a></li>
                        <%}%>
                        <li ng-click="hideShowPanel('contactDetail')" ><a href="#" id="contact-detail"> <i  class="glyphicon glyphicon-user" ></i> Contact Detail</a></li>
                        <li ng-click="hideShowPanel('changePassword')"><a href=""> <i class="glyphicon glyphicon-lock"></i>Change Password</a></li>
                        <%if(user.local.userType == 'business'){%>
                        <li ng-click="hideShowPanel('leadCategory')"><a href="#"> <i class="glyphicon glyphicon-filter"></i>Lead Cotegories/SubCategories</a></li>
                        <%}%>
                        <li ng-click="hideShowPanel('commPreferences')"><a href=""> <i class="glyphicon glyphicon-phone-alt"></i>Communication Preferences</a></li>
                    </ul>
                </div>
            </div>


            <div class="profile-info col-md-8">

                <!-- update Contact Detail -->
                <div class="panel panel-primary post panel-shadow" ng-show="panel.contactDetail">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Details<span  class="required-hint">Required fields are *</span></h3>
                    </div>
                    <div class="panel-body">
                        <form name="contactDetailsForm" autocomplete='off'>
                        <div class="form-group">
                            <label class="col-md-4 control-label">First name<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="firstName" placeholder="First name" ng-model="contactDetails.firstName" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.firstName.$error.required && contactDetailsForm.firstName.$dirty" >Please Enter Your First Name</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Last name<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="lastName" placeholder="Last name" ng-model="contactDetails.lastName" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.lastName.$error.required && contactDetailsForm.lastName.$dirty" >Please Enter Your Last name</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Contact Phone<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="contactPhone" placeholder="Contact Phone" ng-model="contactDetails.contactPhone" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.contactPhone.$error.required && contactDetailsForm.contactPhone.$dirty" >Please Enter Your Phone Number</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-4 control-label">Sex<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div class="form-control">
                                    <div class="col-md-6 padding-left0-right0">
                                        <input type="radio" name="sex" value="male" ng-model="contactDetails.sex" ng-required="true">Male
                                    </div>
                                    <div class="col-md-6 padding-left0-right0">
                                        <input type="radio" name="sex" value="female" ng-model="contactDetails.sex" ng-required="true">Female
                                    </div>
                                    <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.sex.$error.required && contactDetailsForm.sex.$dirty" >Please Select Your Sex</span>
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Date of Birth</label>
                            <div class="col-md-8">
                                <div class="col-md-4 padding-left0-right0">

                                    <select class="form-control customplaceholder" name="month" ng-model="contactDetails.dob.month" ng-required="contactDetails.dob.date  || contactDetails.dob.year">
                                        <option value="" disabled selected>Month</option>
                                        <option value="Jan">Jan</option>
                                        <option value="Feb">Feb</option>
                                        <option value="Mar">Mar</option>
                                    </select>
                                    <span class="form-error-message">
                                       <span ng-show="contactDetailsForm.month.$error.required">Please Select Month</span>
                                    </span>
                                </div>
                                <div class="col-md-4 padding-left0-right0">
                                    <select class="form-control customplaceholder" name="date"  ng-model="contactDetails.dob.date" ng-required="contactDetails.dob.month || contactDetails.dob.year">
                                        <option value="" disabled selected>Date</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                    </select>
                                    <span class="form-error-message" >
                                       <span ng-show="contactDetailsForm.date.$error.required" >Please Select Date</span>
                                    </span>
                                </div>
                                <div class="col-md-4 padding-left0-right0">
                                    <select class="form-control customplaceholder" name="year" ng-model="contactDetails.dob.year" ng-required="contactDetails.dob.month  || contactDetails.dob.date">
                                        <option value="" disabled >Year</option>
                                        <option value="2001">1990</option>
                                        <option value="2002">1991</option>
                                        <option value="2003">1992</option>
                                        <option value="2001">1993</option>
                                        <option value="2002">1994</option>
                                        <option value="2003">1995</option>
                                        <option value="2001">1996</option>
                                        <option value="2002">1997</option>
                                        <option value="2003">1998</option>
                                        <option value="2003">1999</option>
                                        <option value="2003">2000</option>

                                    </select>
                                    <span class="form-error-message">
                                       <span ng-show="contactDetailsForm.year.$error.required" >Please Select Year</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Address<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="address1" placeholder="Address 1" ng-model="contactDetails.address1" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.address1.$error.required && contactDetailsForm.address1.$dirty" >Please Enter Your Address</span>
                                </span>
                                <input class="form-control" type="text" placeholder="Address 2" ng-model="contactDetails.address2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">City<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="city" placeholder="City" ng-model="contactDetails.city" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.city.$error.required && contactDetailsForm.city.$dirty" >Please Enter Your City Name</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Postal Code<span class="required">*</span></label >
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="postalCode" placeholder="Postal Code" ng-model="contactDetails.postalCode" ng-required="true" />
                                <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.postalCode.$error.required && contactDetailsForm.postalCode.$dirty" >Please Enter Your Postal Code</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Country<span class="required">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control" name="country" ng-model="contactDetails.country" ng-required="true" >
                                    <option value="" disabled selected>Select Your Country</option>
                                    <option value="india">India</option>
                                    <option value="usa">USA</option>
                                    <option value="england">England</option>
                                    <option value="japan">Japan</option>
                                </select>
                                <span class="form-error-message">
                                    <span ng-show="contactDetailsForm.country.$error.required && contactDetailsForm.country.$dirty" >Please Select Your Country Name</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-8 update-info-btn" > <button type="submit" class="btn btn-primary" ng-disabled="!contactDetailsForm.$valid || !contactDetailsForm.$dirty" ng-click="updateContactDetails()">Update</button></div>
                        </div>
                            </form>
                    </div>
                </div><!-- end Contact Detail-->

                <!-- update bussiness detail -->
                <div class="panel panel-primary post panel-shadow" ng-show="panel.businessDetail">
                    <div class="panel-heading">
                        <h3 class="panel-title">Business Detail<span class="required-hint">Required fields are *</span></h3>
                    </div>
                    <div class="panel-body">
                        <form name="businessDetailForm" autocomplete='off'>
                        <div class="form-group">
                            <div class="col-md-12">
                                <b>About Bussiness<span class="required">*</span></b>
                                <textarea class="form-control" name="aboutBussiness" rows = "5" placeholder="About Bussiness" ng-model="businessDetails.aboutBusiness" ng-required="true"></textarea>
                                <span class="form-error-message">
                                    <span ng-show="businessDetailForm.aboutBussiness.$error.required && businessDetailForm.aboutBussiness.$dirty" >Please Enter About Bussiness</span>
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Company Name<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="companyName" placeholder="Company Name"  ng-model="businessDetails.companyName" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="businessDetailForm.companyName.$error.required && businessDetailForm.companyName.$dirty" >Please Enter Company Name</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Address<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="address1" placeholder="Address 1" ng-model="businessDetails.address1" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="businessDetailForm.address1.$error.required && businessDetailForm.address1.$dirty" >Please Enter Address</span>
                                </span>
                                <input class="form-control" type="text" placeholder="Address 2"  ng-model="businessDetails.address2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">City<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="city" placeholder="City"  ng-model="businessDetails.city" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="businessDetailForm.city.$error.required && businessDetailForm.city.$dirty" >Please Enter City</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Postal Code<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="poctelCode" placeholder="Postal Code"  ng-model="businessDetails.postalCode" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="businessDetailForm.poctelCode.$error.required && businessDetailForm.poctelCode.$dirty" >Please Enter Postal Code</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Country<span class="required">*</span></label>
                            <div class="col-md-8">
                                <select class="form-control"  name="country" ng-model="businessDetails.country" ng-required="true">
                                    <option value="" >Select Your Country</option>
                                    <option value="india">India</option>
                                    <option value="usa">USA</option>
                                    <option value="england">England</option>
                                </select>
                                <span class="form-error-message">
                                    <span ng-show="businessDetailForm.country.$error.required && businessDetailForm.country.$dirty" >Please Select Country Name</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Primary Phone<span class="required">*</span></label >
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="primaryPhone" placeholder="Primary Phone"  ng-model="businessDetails.primaryPhone" ng-required="true">
                                <span class="form-error-message">
                                    <span ng-show="businessDetailForm.primaryPhone.$error.required && businessDetailForm.primaryPhone.$dirty" >Please Enter Primary Phone Number</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Secondary Phone</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" placeholder="Secondary Phone"  ng-model="businessDetails.secondryPhone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Fax</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" placeholder="Fax"  ng-model="businessDetails.fax">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Website</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" placeholder="Website"  ng-model="businessDetails.website">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-8 update-info-btn" > <button type="submit" class="btn btn-primary" ng-disabled="!businessDetailForm.$valid || !businessDetailForm.$dirty" ng-click="updateBusinessDetails()">Update</button></div>
                        </div>
                            </form>
                    </div>
                </div><!-- end update bussiness detail -->

                <!-- update Lead Category and subcategory detail -->
                <div class="panel panel-primary post panel-shadow" ng-show="panel.leadCategory">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lead Categories/Sub Categories</h3>
                    </div>
                    <div class="panel-body">
                        <ng-form name="categorySubCategoryForm" autocomplete='off'>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Active</label>
                            <label class="col-md-5 control-label">Categories</label>
                            <label class="col-md-6 control-label">Sub Categories</label>
                        </div>

                        <div class="form-group" ng-repeat="leadCat in leadCategories">

                            <div class="col-md-1 category-chekbox">
                                  <input type="checkbox" data-toggle="switch" ng-model="leadCat.active" />
                            </div>
                            <div class="col-md-5">
                                <select class="form-control" name="category_{{$index}}" ng-model="leadCat.category" ng-required="true">
                                    <option value="" disabled selected>Category</option>
                                    <option value="houseservice">House Service</option>
                                    <option value="houseservice1">House Service 2</option>
                                    <option value="houseservice2">House Service 3</option>
                                </select>
                                <span class="form-error-message" >
                                       <span ng-show="categorySubCategoryForm.category_{{$index}}.$error.required" >Please Select Category</span>
                                </span>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" name="subCategory_{{$index}}" ng-model="leadCat.subCategory" ng-required="true">
                                    <option value="" disabled selected>Sub Category</option>
                                    <option value="gardning">Gardning</option>
                                    <option value="gardning1">Gardning 1</option>
                                    <option value="gardning2">Gardning 2</option>
                                </select>
                                <span class="form-error-message" >
                                   {{ categorySubCategoryForm.subCategory0.$error.required}}
                                       <span ng-show="categorySubCategoryForm.subCategory_{{$index}}.$error.required" >Please Select Sub Category</span>
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 update-info-btn" > <button type="submit" class="btn btn-primary pull-right"  ng-click="addMoreLeadCategories()"><span class="glyphicon glyphicon-plus"></span> Add More...</button></div>
                            <div class="col-md-12 update-info-btn" > <button type="submit" class="btn btn-primary" ng-disabled="!categorySubCategoryForm.$valid"  ng-click="updateLeadCategories()">Update</button></div>
                        </div>
                        </ng-form>
                    </div>
                </div><!-- end Lead Category and subcategory detail -->

                <!-- update password info -->
                <div  class="panel panel-primary post panel-shadow" ng-show="panel.changePassword">

                    <div class="panel-heading">
                        <h3 class="panel-title">Change password<span class="required-hint">Required fields are *</span></h3>
                    </div>
                    <div class="panel-body">
                        <form name="changePassForm" autocomplete='off'>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Current Password<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" id="cPassword" type="password" name="cPassword" placeholder="Current Password" autocomplete="off"
                                       ng-model="passwords.cPassword" ng-required="true" />
                                 <span class="form-error-message">
                                    <span ng-show="changePassForm.cPassword.$error.required && changePassForm.cPassword.$dirty" >Please enter your current password</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">New Password<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" name="nPassword" placeholder="New Password"
                                       ng-model="passwords.nPassword"  ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-required="true" />
                                <span class="form-error-message">
                                <span ng-show="changePassForm.nPassword.$error.required && changePassForm.nPassword.$dirty" >Please enter your new password</span>
                                <span ng-show="!changePassForm.nPassword.$error.required && (changePassForm.nPassword.$error.minlength || changePassForm.nPassword.$error.maxlength) &&
                                changePassForm.nPassword.$dirty">Passwords must be between 8 and 20 characters.</span>
                                <span ng-show="!changePassForm.nPassword.$error.required && !changePassForm.nPassword.$error.minlength && !changePassForm.nPassword.$error.maxlength && changePassForm.nPassword.$error.pattern
                                && changePassForm.nPassword.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-md-4 control-label" >Confirm Password<span class="required">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" name="confPassword" placeholder="Confirm Password"
                                       ng-model="passwords.confPassword"  valid-password-c   ng-required="true" />
                                 <span class="form-error-message">
                                    <span ng-show="changePassForm.confPassword.$error.required && changePassForm.confPassword.$dirty" >Please confirm your password</span>
                                     <span ng-show="!changePassForm.confPassword.$error.required && changePassForm.confPassword.$error.noMatch && changePassForm.nPassword.$dirty">Passwords do not match.</span>
                                </span>
                            </div>



                        </div>
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-8 update-info-btn" > <button type="submit" class="btn btn-primary"
                                            ng-disabled="!changePassForm.$valid" ng-click="updatePassword()">Update</button></div>
                        </div>
                        </form>
                    </div>
                </div><!-- end update password info-->

                <!-- update Communication Preferences info -->
                <div class="panel panel-primary post panel-shadow" ng-show="panel.commPreferences">
                    <div class="panel-heading">
                        <h3 class="panel-title">Communication Preferences</h3>
                    </div>
                    <div class="panel-body">
                        <form name="communicationPreferenceForm" autocomplete='off'>
                        <div class="form-group">
                            <div class="col-md-12"> <input type="radio"  name="commPrefences" ng-model="commPrefences" value="email" ng-required="true">
                            Send or receive communication via Email
                                </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-12"> <input type="radio" name="commPrefences" ng-model="commPrefences" value="sms" ng-required="true">
                            Send or receive communication via SMS
                                </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 update-info-btn"> <button type="submit" class="btn btn-primary" ng-disabled="!communicationPreferenceForm.$valid || !communicationPreferenceForm.$dirty" ng-click="updatePreferences()">Update</button></div>
                        </div>
                            </form>
                      </div>
                </div><!-- end update Communication Preferences info-->


            </div>
        </div>
    </div>
</div>
<div class="chat-sidebar focus">
    <div class="list-group text-left">
        <p class="text-center visible-xs"><a href="#" class="hide-chat">Hide</a></p>
        <p class="text-center chat-title">Online users</p>
        <a href="messages.html" class="list-group-item">
            <i class="fa fa-check-circle connected-status"></i>
            <img src="../images/friends/rohit.jpg" class="img-chat img-thumbnail">
            <span class="chat-user-name">Rahul</span>
        </a>
        </a> <a href="messages.html"
                class="list-group-item"> <i
                    class="fa fa-check-circle connected-status"></i> <img
                    src="../images/friends/rohit.jpg" class="img-chat img-thumbnail"> <span
                    class="chat-user-name">Sam</span> </a></div>
</div>
<div class="modal fade in photo-modal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-photo">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">&nbsp;</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-8">
                    <div class="notification-row">
                        <div class="notification-padding">
                            <div class="sidebar-fa-image"><img class="notifications"
                                                               src="../images/friends/rohit.jpg"></div>
                            <div class="sidebar-fa-text"><b><a href="#">Martha markguy</a></b>
                                <p>This is a comment, you are my friend<br>
                                    <small class="timeago">5 min ago</small></p>
                            </div>
                        </div>
                    </div>
                    <img class="img-thumbnail img-content" src="../images/friends/rohit.jpg"></div>
                <div class="col-md-4">
                    <div class="notification-row">
                        <div class="notification-padding">
                            <div class="sidebar-fa-image"><img class="notifications"
                                                               src="../images/friends/rohit.jpg"></div>
                            <div class="sidebar-fa-text"><b><a href="#">Sneider
                                        montoya</a></b>
                                <p>This is a comment, you are my friend<br>
                                    <small class="timeago">5 min ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="notification-row">
                        <div class="notification-padding">
                            <div class="sidebar-fa-image"><img class="notifications"
                                                               src="../images/friends/rohit.jpg"></div>
                            <div class="sidebar-fa-text"><b><a href="#">Martha markguy</a></b>
                                <p>This is my awesome comment, sky is the limit<br>
                                    <small class="timeago">5 min ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="notification-row">
                        <div class="notification-padding">
                            <div class="sidebar-fa-image"><img class="notifications"
                                                               src="../images/friends/rohit.jpg"></div>
                            <div class="sidebar-fa-text"><b><a href="#">Camila Gonther</a></b>
                                <p>Ok is my turn now, pay attention<br>
                                    <small class="timeago">5 min ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="notification-row">
                        <div class="notification-padding">
                            <div class="sidebar-fa-image"><img class="notifications"
                                                               src="../images/friends/rohit.jpg"></div>
                            <div class="sidebar-fa-text"><b><a href="#">Selena
                                        Teirbook</a></b>
                                <p>Me and you against the world<br>
                                    <small class="timeago">5 min ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="notification-row">
                        <div class="notification-padding">
                            <div class="sidebar-fa-image"><img class="notifications"
                                                               src="../images/friends/rohit.jpg"></div>
                            <div class="sidebar-fa-text"><b><a href="#">Marck Cleinton</a></b>
                                <p>It's your boy dey-dey<br>
                                    <small class="timeago">5 min ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="notification-row">
                        <div class="notification-padding">
                            <div class="sidebar-fa-image"><img class="notifications"
                                                               src="../images/friends/rohit.jpg"></div>
                            <div class="sidebar-fa-text"><b><a href="#">Maria hurtado</a></b>
                                <p>This is a comment, you are my friend<br>
                                    <small class="timeago">5 min ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>